<link href ="/css/navbar.css" rel ="stylesheet">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/horrorComics">
	<img src="/img/carved-pumpkins-1.svg" alt="Brand image" height="40" width="50"  >
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/horrorComics">Comics</a>
     </li>
     <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Subgenres
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/horrorComics/genre/horrorcomedy">Horror Comedy</a>
          <a class="dropdown-item" href="/horrorComics/genre/psycologicalhorror">Psycological horror</a>
          <a class="dropdown-item" href="/horrorComics/genre/lovecraftianhorror">Lovecraftian horror</a>
		  <a class="dropdown-item" href="/horrorComics/genre/ghoststory">Ghost story</a>
          <a class="dropdown-item" href="/horrorComics/genre/southerngothic">Southern Gothic</a>
          <a class="dropdown-item" href="/horrorComics/genre/bodyhorror">Body horror</a>
		  <a class="dropdown-item" href="/horrorComics/genre/cthulhumythos">Cthulhu Mythos</a>
          <a class="dropdown-item" href="/horrorComics/genre/fantasyhorror">Fantasy Horror</a>
          <a class="dropdown-item" href="/horrorComics/genre/japanesehorror">Japanese Horror</a>
		  <a class="dropdown-item" href="/horrorComics/genre/urbangothic">Urban Gothic</a>
          <a class="dropdown-item" href="/horrorComics/genre/wierdfiction">Wierd fiction</a>
          <a class="dropdown-item" href="/horrorComics/genre/survivalhorror">Survival Horror</a>
          <a class="dropdown-item" href="/horrorComics/genre/occultdetectivefiction">Occult Detective Fiction</a>
		  <a class="dropdown-item" href="/horrorComics/genre/sci-fi-horror">Sci-fi Horror</a>
		  <a class="dropdown-item" href="/horrorComics/genre/horrorwebcomics">Horror Web Comics</a>
		<a class="dropdown-item" href="/horrorComics/genre/horrormanga"> Horror Manga</a>
		 </div>
      </li> 
		<% if (user) { %>
		<li class="nav-item">
        <a class="nav-link" href="/horrorComics/new">Add Comic to Library</a>
     </li>
		<% } %>
		
		<% if(user) { %>
		<li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>	
		<% } else{ %>
      <li class="nav-item ">
        <a class="nav-link" href ="/login">Login</a>
      </li>	
		 <li class="nav-item">
        <a class="nav-link" href="/signup">Sign up</a>
      </li>	
		<% } %>
		
    </ul>
   <form class="form-inline my-2 my-lg-0" name="" action="/horrorComics/search" method="GET">
	   <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
	   <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	  </form>
  </div>
</nav>
<div class="container mt-2">
<% if (successMessage && successMessage.length > 0) { %>
<div class="alert alert-success fade show" role="alert">
        <%= successMessage %>
	<button type ="button" class ="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true"> &times;</span>
	</button>
</div>
<% } %>
	
<% if (errorMessage && errorMessage.length > 0) { %>
<div class="alert alert-warning fade show" role="alert">
        <%= errorMessage %>
	<button type ="button" class ="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true"> &times;</span>
	</button>
</div>
<% } %>
</div>