<%- include("partials/header.ejs")%>
<head>
	
</head>
<body>
<div class="container" id="landingBox">
	<div class="row-4">
	     <div class="col-6 imageContainer" id="landingImageContainer">
	     	<img src="https://t4.ftcdn.net/jpg/02/93/67/85/240_F_293678584_2zXD0Vz9a1NSKNTDuCtQOLxk2hAJ1Dyt.jpg">
	     </div>	
	</div>
	<div class="row-6">
	     <div class="col-6"	id="landingTextBox">
			 <p id="landingText">
				 Welcome to the Horror Comics Library
			 </p>
		</div>
	</div>
</div>
<%- include("partials/footer") %>