.title{
	text-align:center;
	margin: 20rem 20rem 1rem 10rem;
}
label{
	font-family: 'Source Serif Pro', serif;
	color: rgb(255,255,255);
	display:flex;
	line-height: 1.4;
	font-weight:200;
}
body {
	background-color: rgb(0, 0, 0);
}

.topofcomicinfotable{
	text-align: center;
	margin: 0.5rem;
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	font-size: 1.8rem;
	color:rgb(255,255,255);
	background-color: rgb(0,0,0);
	border: solid 10px rgb(153,0,0);
}



.card {
	border: 1px solid #ddd;
	border-radius: 1rem;
	width: 30%;
}

.card-img {
	width: 100%;
	height: 20rem;
	object-fit: cover;
	border-radius: 1rem 1rem 0 0; 
}

.card-title{
	text-align: center;
	margin: 0.5rem;
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	font-size: 1.8rem;
}
.card-text{
	font-family: 'Source Serif Pro', serif;
	line-height:1.4;
	color: rgb(0,0,0);
}

#newHorrorComicsHeader{
		display: flex;
	max-width: 960px;
	margin: 0 auto;
	color: rgb(153,0,0);
	font-family: 'Source Serif Pro', serif;
	margin: 10%;
	text-align:center;
	border-top: double;
	border-bottom: double;
	border-bottom-color: rgb(255,255,255);
	border-top-color: rgb(255,255,255);
}

.form-group{
	display:block;
	width:100%;
	
}

.formLabel {
	display:inline-block;
	vertical-align:middle;
    float: center;
    min-width: 17px;
    font-size: 11px;
    text-transform: uppercase;
    color: rgb(255,255,255);
    margin-right: 15px;
}

/* show comics css */
.show-image-container {
	width: 80%;
	height:80%;
}
.show-comment-container{
	background: rgb(255, 255, 255);
	border: groove;
	border-width: medium;
	padding-left: 25%;
	align-content:center;
}
.show-comment-header{
	font-family: 'Source Serif Pro', serif;
	align-self: center;
}

.commentText{
	font-family: 'Source Serif Pro', serif;
    line-height:1.4;
	border-width: thick;
	border:solid;
	border-color:rgb(77, 74, 87);
	align-content:center;
}



.userComment{
	border-right: dashed;
	border-color:rgb(0,0,0);
	border: double;
	color: rgb(0,0,0);
	text-align:center;
}

#successbtn{
	background-color:rgb(0, 0, 0);
	border-right: double;
	border-color:rgb(153, 0, 0);
	margin-top: 25%;
}

#signUpContainer{
	max-width: 960px;
	margin: 0 auto;
	display: flex;
	border: inset;
	border-color: rgb(255,255,255);
	justify-content: center;
}

#loginContainer{
	max-width: 960px;
	margin: 0 auto;
	display: flex;
	border: inset;
	border-color: rgb(255,255,255);
	justify-content: center;
}
#signUpHeader{
	display: flex;
	max-width: 960px;
	margin: 0 auto;
	color: rgb(153,0,0);
	font-family: 'Source Serif Pro', serif;
	margin: 10%;
	text-align:center;
	border-top: double;
	border-bottom: double;
	border-bottom-color: rgb(255,255,255);
	border-top-color: rgb(255,255,255);
}

#signUpButton{
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	background-color:#f24537;
	border-radius:6px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Source Serif Pro', serif;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}

#loginHeader{
	display: flex;
	max-width: 960px;
	margin: 0 auto;
	color: rgb(255,255,255);
	font-family: 'Source Serif Pro', serif;
	margin: 10%;
	text-align:center;
	border-top: double;
	border-bottom: double;
	border-bottom-color: rgb(153,0,0);
	border-top-color: rgb(153,0,0);
}

#landingBox{
	border-width: 20px;
	border-radius: 1rem;
	border-style: groove;
	background-color:rgb(249,248,231);
	border-color:rgb(153,0,0);
	 width: 3000px;
    height: 500px;
	margin-top: 50px;
	
}

#landingImageContainer{
	align-self:center;
	border-width: 5px;
	border-style: groove;
	border-color:rgb(153,0,0);
	height:300px;
	width:300px;
	margin-top: 15px;
	margin-left:400px;
	display:flex;
	flex: 1 1 auto;
}

#landingTextBox{
	align-content:center;
	margin-left:300px;
}

#landingText{
	text-align: center;
	margin: 0.5rem;
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	font-size: 1.8rem;
}

#upvoteButton {
   border-radius: 20px;
   border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: monospace;
   font-size: 20px;
   font-weight: 30;
   padding: 20px;
   background-color: #2CA31B;
   box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   border: inset #FFFFFF 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

#downvoteButton {
   border-radius: 20px;
   border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: monospace;
   font-size: 20px;
   font-weight: 30;
   padding: 20px;
   background-color: #A31B2C;
   box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   border: inset #FFFFFF 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

#newCommentTitle{
		display: flex;
	max-width: 960px;
	margin: 0 auto;
	color: rgb(153,0,0);
	font-family: 'Source Serif Pro', serif;
	margin: 10%;
	text-align:center;
	border-top: double;
	border-bottom: double;
	border-bottom-color: rgb(255,255,255);
	border-top-color: rgb(255,255,255);
}

#otherImageContainer{
	width: 80%;
	display:flex;
}

#comicInfoTable{
	 background-color: rgb(255,255,255);
}

#score{
	color:rgb(255,255,255);
	size: 20px;
}

#loginButton{
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	background-color:#f24537;
	border-radius:6px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Source Serif Pro', serif;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}


