.title{
	text-align:center;
	margin: 20rem 20rem 1rem 10rem;
}
label{
	font-family: 'Source Serif Pro', serif;
	color: rgb(255,255,255);
	display:flex;
	line-height: 1.4;
	font-weight:200;
}
body {
	background-color: rgb(0, 0, 0);
}

.card {
	border: 1px solid #ddd;
	border-radius: 1rem;
	width: 30%;
}

.card-img {
	width: 100%;
	height: 20rem;
	object-fit: cover;
	border-radius: 1rem 1rem 0 0; 
}

.card-title{
	text-align: center;
	margin: 0.5rem;
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	font-size: 1.8rem;
}
.card-text{
	font-family: 'Source Serif Pro', serif;
	line-height:1.4;
}

#newHorrorComicsHeader{
	color: rgb(247, 229, 228);
	font-family: 'Playfair Display', serif;
	text-align: center;
}

.form-group{
	display:block;
	width:100%;
}

.formLabel {
	display:inline-block;
	vertical-align:middle;
    float: left;
    min-width: 17px;
    font-size: 11px;
    text-transform: uppercase;
    color: #62696d;
    margin-right: 15px;
}

/* show comics css */
.show-image-container {
	width: 80%;
}
.show-comment-container{
	background: rgb(255, 255, 255);
	border: groove;
	border-width: medium;
}
.show-comment-header{
	font-family: 'Source Serif Pro', serif;
}

.commentText{
		font-family: 'Source Serif Pro', serif;
	    line-height:1.4;
	border-width: thick;
	border:solid;
	border-color:rgb(77, 74, 87);
}



#userComment{
	border-right: dashed;
	border-color:rgb(0,0,0);
	border: double;
	color: rgb(0,0,0);
	text-align:center;
}

#successbtn{
	background-color:rgb(184, 131, 33);
	border-right: double;
	border-color:rgb(0, 0, 0);
	
}

#signUpContainer{
	max-width: 960px;
	margin: 0 auto;
	display: flex;
	border: inset;
	border-color: rgb(255,255,255);
	justify-content: center;
}

#loginContainer{
	max-width: 960px;
	margin: 0 auto;
	display: flex;
	border: inset;
	border-color: rgb(255,255,255);
	justify-content: center;
}
#signUpHeader{
	display: flex;
	max-width: 960px;
	margin: 0 auto;
	color: rgb(153,0,0);
	font-family: 'Source Serif Pro', serif;
	margin: 10%;
	text-align:center;
	border-top: double;
	border-bottom: double;
	border-bottom-color: rgb(255,255,255);
	border-top-color: rgb(255,255,255);
}

#signUpButton{
	
}

#loginHeader{
	display: flex;
	max-width: 960px;
	margin: 0 auto;
	color: rgb(255,255,255);
	font-family: 'Source Serif Pro', serif;
	margin: 10%;
	text-align:center;
	border-top: double;
	border-bottom: double;
	border-bottom-color: rgb(153,0,0);
	border-top-color: rgb(153,0,0);
}

#landingBox{
	border-width: 20px;
	border-radius: 1rem;
	border-style: groove;
	background-color:rgb(249,248,231);
	border-color:rgb(153,0,0);
	 width: 3000px;
    height: 500px;
	margin-top: 50px;
	
}

#landingImageContainer{
	align-self:center;
	border-width: 5px;
	border-style: groove;
	border-color:rgb(153,0,0);
	height:300px;
	width:300px;
	margin-top: 15px;
	margin-left:400px;
	display:flex;
	flex: 1 1 auto;
}

#landingTextBox{
	align-content:center;
	margin-left:300px;
}

#landingText{
	text-align: center;
	margin: 0.5rem;
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	font-size: 1.8rem;
}

